/*!****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/sections/footer.scss ***!
  \****************************************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
/* ===================================================== FORM ==================================================== */
.footer {
  width: 100%;
  padding: 50px 25px;
  background-color: gray;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__social_icon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  transition: color 0.3s ease;
}
.footer__social_link:hover .footer__social_icon {
  color: rgb(255, 255, 255);
}

.footer__text {
  font-size: 20;
  font-weight: 700;
}
